<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta content="origin" name="referrer"/>
    <title>V·oogle</title>


    <!--  -->

    <meta name="theme-color" content="#FFF"/>
    <meta content="https://www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"/>
    <link href="https://www.google.com/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon"/>
    <link href="https://www.google.com/images/branding/product/ico/googleg_lodp.ico" rel="favicon"/>
    <link href="https://www.google.com/images/branding/product/ico/googleg_lodp.ico" rel="icon"/>
    <link href="https://www.google.com/?dcr=0&amp;ei=bkDFWt6bKd3AuAH0vZuYBw" rel="canonical"/>


    <!--  -->
    <meta name="google-site-verification" content="DfBVUhQqSQQcwLCclDlEMfBAheYEqKMurtTJ87cwJw8" />
  </head>
  <body style="margin:0"><app></app></body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117524236-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117524236-1');
  </script>
</html>
